* {
    margin: 0;
}

h1 {
    text-align: center;
}

h3 {
    margin-right: 10px;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2017/03/01/10/03/businessman-2108029_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

form_section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(20, 0, 0, 0.5);
    border: solid black;
    height: 100px;
}

item_form_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    width: 500px;
    border: solid black;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

box_form_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    width: 700px;
    border: solid black;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.input {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

#box-name-input-label {
    width: 100px;
}

form {
    display: flex;
    align-items: center;
}

#box-name-input {
    width: 200px;
}

#box-weight-input {
    width: 80px;
}

#item-weight-input {
    width: 80px;
}

#box-weight-capacity-input {
    width: 140px;
}

.submit {
    border-radius: 100px;
    margin-top: 18px;
}

li {
    display: flex;
    flex-direction: row;
    color: white;
    margin: 5px;
}

.delete-button {
    margin-left: 5px;
    color: white;
    background-color: red;
    border-radius: 100px;
}

item-name {
    margin-right: 5px;
}

item_section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(20, 0, 0, 0.5);
    border: solid black;
    height: 200px;
    margin-top: 10px;
}

item_window {
    overflow-y: scroll;
    width: 10000px;
    height: 190px;
    margin: 10px;
    background-color: rgba(20, 0, 0, 0.5);
}

box_section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(20, 0, 0, 0.5);
    border: solid black;
    height: 200px;
    margin-top: 10px;
}

box_contents_window {
    overflow-y: scroll;
    width: 10000px;
    height: 190px;
    margin: 10px;
    background-color: rgba(20, 0, 0, 0.5);
}

display_section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(20, 0, 0, 0.5);
    border: solid black;
    height: 200px;
    margin-top: 10px;
}